<!DOCTYPE html>
<html>
    <head>
	    <title>DRAGOON CONTROL</title>
      <meta name="viewport" content="width=device-width, initial-scale=2.0, user-scalable=no">
	    <!-- Latest compiled and minified CSS - add here as needed -->
	</head>
	<body>

    <form>
		<div><button type="submit" formaction="funktion1">Funktion1</button>
		<div><button type="submit" formaction="funktion2">Funktion2</button>
		<div><button type="submit" formaction="funktion3">Funktion3</button>
		<div><button type="submit" formaction="funktion4">Funktion4</button>
		<div><button type="submit" formaction="funktion5">Funktion5</button>
		<div><button type="submit" formaction="funktion6">Funktion6</button>
		<br><br>
  </form>

	</script>
	</body>
</html>
